<!DOCTYPE html>

<html>
<head>
    <style type="text/css">
        h1 {
            font-size: 5em;
            text-align: center;
        }
        h2 {
            font-size: 4.5em;
            text-align: center;
        }
        h3 {
            font-size: 3.5em;
            text-align: left;
        }
        p {
            font-size: 3em;
        }
    </style>
</head>
<body>
<div>
    @RenderBody()
</div>
<footer>
</footer>
</body>
</html>